/* Estilos para el cuerpo del documento */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Estilos para el encabezado */
header {
  background-color: #1abc9c;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

header h1 {
  margin: 0;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease;
}

nav a:hover {
  color: #efefef;
}

/* Estilos para el formulario */
.contenido-principal {
  max-width: 600px;
  margin: 0 auto;
  padding: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

label {
  display: block;
  margin-bottom: 10px;
  width: 100%;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="despacho"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 3px;
  background-color: #efefef;
}

input[type="submit"],
button[type="reset"] {
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}

input[type="submit"]:hover,
button[type="reset"]:hover {
  background-color: #efefef;
  color: #333;
}

.boton {
  width: 48%;
}

@media (max-width: 480px) {
  form {
    flex-direction: column;
  }

  .boton {
    width: 100%;
  }
}

.logo {
  font-size: 24px;
  font-weight: 700;
  color: #333;
}

.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu-item {
  margin-left: 20px;
  font-size: 16px;
  font-weight: 400;
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}