* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  color: #333;
}

/* Encabezado */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #1abc9c;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

.logo {
  font-size: 24px;
  font-weight: 700;
  color: #333;
}

.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu-item {
  margin-left: 20px;
  font-size: 16px;
  font-weight: 400;
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.menu-item:hover {
  color: #666;
}

/* Sección Principal */
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 80px);
  background-color: #f5f5f5;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.title {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 700;
  color: #333;
}

.subtitle {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 400;
  color: #666;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 400;
  color: #333;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 400;
  color: #333;
}

.form-group input[type="text"]:focus,
.form-group input[type="email"]:focus,
.form-group input[type="password"]:focus {
  border-color: #666;
}

.form-submit {
  margin-top: 20px;
  width: 100%;
}

.form-submit button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  background-color: #333;
  cursor: pointer;
}

.menu-item-link {
  color: #333;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}